<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of ingredients; let idx = index"
      >
        <a style="cursor: pointer" (click)="onSelectedIngredient(idx)">
          {{ ingredient.name }} - ({{ ingredient.amount }})
        </a>
        <a
          [routerLink]="['/recipes', recipeName]"
          class="badge badge-pill badge-info"
          *ngFor="let recipeName of ingredient.recipeNames"
          >{{ recipeName }}</a
        >
      </li>
    </ul>
  </div>
</div>
