.backdrop {
    background-color: lightgray;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height:100vh;
    z-index: 50;
    opacity: 0.5;
}
.alert-box{
    position: fixed;
    top:30vh;
    left:20vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background-color: #eac9c9;
    box-shadow: 0 2px 10px gray;
    border-radius: 5px;
}
.alert-box-action{
    text-align: right;
}