<div class="row">
  <div class="col-xs-12">
    <form #frmIngredient="ngForm" (ngSubmit)="onAddItem()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            ngModel
            required
            pattern="^([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!frmIngredient.valid"
          >
            {{ selectedIngredientIndex === -1 ? "Add" : "Update" }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            *ngIf="selectedIngredientIndex > -1"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClear()"
            [disabled]="!frmIngredient.valid"
          >
            Reset
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onClearAll()"
            [disabled]="selectedIngredientIndex !== -1"
          >
            Delete All
          </button>
        </div>
        <div class="col-xs-4 text-right cart">
          <button type="button" class="btn btn-primary position-relative">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            {{ ingredientsCount() }}
          </button>

          <span class="badge"> {{ ingredientsCount() }}</span>
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
      </div>
    </form>
  </div>
</div>
